{% extends 'base.html.twig' %}

{% block title %}Ma super Bibliothèque{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h2>Ajout</h2>
      {{ form_start(formulaire) }}
        {{ form_errors(formulaire) }}
        <div class="mb-3">
          {{ form_label(formulaire.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(formulaire.titre, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
          {{ form_label(formulaire.resume, 'Résumé', {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(formulaire.resume, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
          {{ form_label(formulaire.nbpages, 'Nombre de pages', {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(formulaire.nbpages, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
          {{ form_label(formulaire.genre, 'Genre', {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(formulaire.genre, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_widget(formulaire.submit, {'attr': {'class': 'btn btn-primary'}}) }}
      {{ form_end(formulaire) }}
    </div>
  </div>
</div>
{% endblock %}
